name: Manual Build macOS installer

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Git release tag'     
        required: true
        default: ''

env:
  GIT_REPOSITORY: "${{github.event.client_payload.repository}}"
  GIT_REF: "${{github.event.client_payload.ref}}"
  FALLBACK_GIT_REPOSITORY: https://github.com/git/git

  LDFLAGS: -L/usr/local/opt/gettext/lib
  CFLAGS: -I/usr/local/opt/gettext/include
  # Link with cURL
  CURL_LDFLAGS: -lcurl
  # To make use of the catalogs...
  XML_CATALOG_FILES: /usr/local/etc/xml/catalog
  # Enable a bit stricter compile flags
  DEVELOPER: 1
  # For the osx-installer build
  OSX_VERSION: 11.0
  V: 1

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Git's dependencies
        run: |
          brew install autoconf automake asciidoc docbook xmlto
          brew link --force gettext
      - name: Clone git
        run: |
          git clone -n "${GIT_REPOSITORY:-$FALLBACK_GIT_REPOSITORY}" git &&
          git checkout ${{ github.event.inputs.tag }} &&
          cd git &&
          if test -z "$GIT_REF"
          then
            GIT_REF="refs/tags/+${{ github.event.inputs.tag }}" &&
            print $GIT_REF &&
            test -n "$GIT_REF" ||
            { echo "No eligible tag found" >&2; exit 1; }
          fi &&
          git fetch origin "$GIT_REF" &&
          git switch --detach FETCH_HEAD
      - name: Build GIT-VERSION-FILE and .tar.gz files
        run: |
          set -x
          PATH=/usr/local/bin:$PATH \
          make -C git -j$(sysctl -n hw.physicalcpu) GIT-VERSION-FILE dist dist-doc
      - name: Bundle .dmg
        run: |
          die () {
            echo "$*" >&2
            exit 1
          }
          VERSION="`sed -n 's/^GIT_VERSION = //p' <git/GIT-VERSION-FILE`"
          test -n "$VERSION" ||
          die "Could not determine version!"
          export VERSION
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          ln -s git git-$VERSION
          mkdir -p build &&
          cp git/git-$VERSION.tar.gz git/git-manpages-$VERSION.tar.gz build/ ||
          die "Could not copy .tar.gz files"
          # drop the -isysroot `GIT_SDK` hack
          sed -i .bak -e 's/ -isysroot .(SDK_PATH)//' Makefile ||
          die "Could not drop the -isysroot hack"
          # make sure that .../usr/local/git/share/man/ exists
          sed -i .bak -e 's/\(tar .*-C \)\(.*\/share\/man\)$/mkdir -p \2 \&\& &/' Makefile ||
          die "Could not edit Makefile"
          PATH=/usr/local/bin:/System/Library/Frameworks:$PATH \
          make build/intel-universal-big-sur/git-$VERSION/osx-built-keychain ||
          die "Build failed"
          PATH=/usr/local/bin:$PATH \
          make image ||
          die "Build failed"
          mkdir osx-installer &&
          mv *.dmg disk-image/*.pkg osx-installer/
      - name: Upload osx-installer artifacts
        uses: actions/upload-artifact@v1
        with:
          name: osx-installer
          path: osx-installer
          
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v.${{env.VERSION}}
          release_name: Git ${{env.VERSION}}
          body: |
              # Notes
              This is a version of Git created by GitHub Actions.
          draft: false
          prerelease: false
      - name: Upload Package Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./osx-installer/git-${{env.VERSION}}-intel-universal-big-sur.pkg
          asset_name: git-${{env.VERSION}}-intel-universal-big-sur.pkg
          asset_content_type: application/x-newton-compatible-pkg
      - name: Upload DMG Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./osx-installer/git-${{env.VERSION}}-intel-universal-big-sur.dmg
          asset_name: git-${{env.VERSION}}-intel-universal-big-sur.dmg
          asset_content_type: application/x-apple-diskimage
